 <!-- 404-area -->
 <section class="error-area section-space">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
                <div class="error-img text-center mb-40">
                    <img src="assets/imgs/images/404.png" alt="">
                </div>
                <div class="error-content text-center mb-40">
                    <h3 class="title">Page Not Found</h3>
                    <p>The page you are looking for was moved, removed,renamed or might never existed.</p>
                    <a href="/" class="btn">Go Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 404-area-end -->