        <!-- pricing-area -->
        <section class="pricing-area section-space">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-xl-5 col-lg-6 col-md-8">
                      <div class="section-title text-center mb-50">
                          <h2 class="title">Discover Our Best Value Plans</h2>
                      </div>
                  </div>
              </div>
              <div class="pricing-plan-wrap">
                  <div class="row">
                      <div class="col-lg-4 col-md-6 col-sm-9">
                          <div class="pricing-item mb-30">
                              <div class="pricing-thumb">
                                  <img src="assets/imgs/images/pricing_thumb01.jpg" alt="">
                                  <h3 class="title"><a href="pricing.html">Internet For Personal</a></h3>
                                  <div class="net-speed">
                                      <h5>5-10 <span>MBPS</span></h5>
                                  </div>
                              </div>
                              <div class="pricing-content">
                                  <ul class="pricing-list">
                                      <li><img src="assets/imgs/icons/check.png" alt=""> Single Device Uses</li>
                                      <li><img src="assets/imgs/icons/check.png" alt=""> Phone & Computer</li>
                                      <li><img src="assets/imgs/icons/check.png" alt=""> Random IP</li>
                                  </ul>
                                  <div class="price-wrap">
                                      <span>Start From</span>
                                      <h3 class="price">Tshs 60,000<sub>/Month</sub></h3>
                                  </div>
                                  <div class="pricing-btn">
                                      <a href="/plans/plan" class="btn btn-link">View Plans</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-9">
                          <div class="pricing-item mb-30">
                              <div class="pricing-thumb">
                                  <img src="assets/imgs/images/pricing_thumb02.jpg" alt="">
                                  <h3 class="title"><a href="pricing.html">Internet For Family</a></h3>
                                  <div class="net-speed">
                                      <h5>10-50 <span>MBPS</span></h5>
                                  </div>
                              </div>
                              <div class="pricing-content">
                                  <ul class="pricing-list">
                                      <li><img src="assets/imgs/icons/check.png" alt=""> 20 Devices Allowed</li>
                                      <li><img src="assets/imgs/icons/check.png" alt=""> Phone, Computer & TV</li>
                                      <li><img src="assets/imgs/icons/check.png" alt=""> Random IP</li>
                                  </ul>
                                  <div class="price-wrap">
                                      <span>Start From</span>
                                      <h3 class="price">Tshs 159,000<sub>/Month</sub></h3>
                                  </div>
                                  <div class="pricing-btn">
                                      <a href="plans/plan" class="btn btn-link">View Plans</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-9">
                          <div class="pricing-item mb-30">
                              <div class="pricing-thumb">
                                  <img src="assets/imgs/images/pricing_thumb03.jpg" alt="">
                                  <h3 class="title"><a href="pricing.html">Internet For Corporate</a></h3>
                                  <div class="net-speed">
                                      <h5>Unlimited <span>MBPS</span></h5>
                                  </div>
                              </div>
                              <div class="pricing-content">
                                  <ul class="pricing-list">
                                      <li><img src="assets/imgs/icons/check.png" alt=""> Unlimited Devices Allowed
                                      </li>
                                      <li><img src="assets/imgs/icons/check.png" alt=""> Any Devices</li>
                                      <li><img src="assets/imgs/icons/check.png" alt=""> Fixed IP</li>
                                  </ul>
                                  <div class="price-wrap">
                                      <span>Start From</span>
                                      <h3 class="price">Tshs 289,000<sub>/Month</sub></h3>
                                  </div>
                                  <div class="pricing-btn">
                                      <a href="plans/plan" class="btn btn-link">View Plans</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- pricing-area-end -->