  <!-- cta-area -->
  <section class="cta-area cta-bg jarallax" data-background="assets/imgs/bg/cta_bg.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-10">
                <div class="cta-content text-center">
                    <div class="section-title white-title mb-35">
                        <h2 class="title">Need Fast & Secure Broadband? Use Netfix & The Real Network</h2>
                    </div>
                    <div class="cta-btn-wrap">
                        <a href="/plan" class="btn">View our Plans</a>
                        <span class="or">OR</span>
                        <a href="tel:+255 753 591 743" class="btn transparent-btn">+255 753 591 743</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- cta-area-end -->

  <!-- Lottie Background -->
  <!-- <dotlottie-player
    src="https://lottie.host/5c1fff86-f066-4516-acb7-5f62437cd215/vctpQVfXnN.lottie"
    background="transparent"
    speed="1.5"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; pointer-events: none;"
    loop
    autoplay>
  </dotlottie-player> -->

  
