<!-- header-area -->
<header>
  <div class="header-top-wrap">
      <div class="container">
          <div class="row">
              <div class="col-xl-8 col-md-7 col-sm-7">
                  <div class="header-top-left">
                      <ul>
                          <li class="d-none d-xl-flex"><i class="flaticon-location"></i> <a href="#">Morogoro, NHC House, CBD</a></li>
                          <li class="d-none d-lg-flex"><i class="flaticon-email"></i> <a href="mailto:support@chita.co.tz">support@chita.co.tz</a></li>
                          <li><i class="flaticon-phone"></i> Phone: +255 753 591 743</li>
                      </ul>
                  </div>
              </div>
              <div class="col-xl-4 col-md-5 col-sm-5">
                  <div class="header-top-right">
                      <ul>
                          <li class="header-user-info">
                              <i class="flaticon-businessman"></i>
                              <a href="signup.html">Login / Register</a>
                          </li>
                          <li class="header-social">
                              <a href="#"><i class="fab fa-facebook-f"></i></a>
                              <a href="#"><i class="fab fa-twitter"></i></a>
                              <a href="#"><i class="fab fa-instagram"></i></a>
                              <a href="#"><i class="fab fa-linkedin-in"></i></a>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="header-top-fixed"></div>
  <div id="sticky-header" class="menu-area">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                  <div class="menu-wrap">
                      <nav class="menu-nav">
                          <div class="logo">
                              <a href="/"><img src="assets/imgs/logo/logo.png" alt="Chitatelecom Logo"></a>
                          </div>
                          <div class="navbar-wrap main-menu d-none d-lg-flex">
                              <ul class="navigation">
                                  <li class=""><a href="/">Home</a></li>
                                  <li><a href="/about">About</a></li>
                                  <li class=""><a href="/service">Services</a>
                                  </li>
                                  <li class=""><a href="/plan">Packages</a>
                                  </li>
                                  <!-- <li ><a href="blog.html">News</a> -->
                                     
                                  </li>
                                  <li><a href="/contact/contact">Contact</a></li>
                              </ul>
                          </div>
                          <div class="header-action d-none d-md-block">
                              <ul>
                                  <li class="header-btn"><a href="contact/contact" class="btn transparent-btn">Get a Quote</a></li>
                              </ul>
                          </div>
                      </nav>
                  </div>
                  <!-- Mobile Menu -->
                  <div class="mobile-menu">
                      <nav class="menu-box">
                          <div class="close-btn"><i class="fal fa-times"></i></div>
                          <div class="nav-logo"><a href="/"><img src="assets/imgs/logo/logo.png" alt="Chitatelecom Logo" title="Chitatelecom"></a></div>
                          <div class="menu-outer">
                              <!--Here Menu Will Come Automatically Via Javascript-->
                          </div>
                          <div class="social-links">
                              <ul class="clearfix">
                                  <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                  <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                  <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                  <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                              </ul>
                          </div>
                      </nav>
                  </div>
                  <div class="menu-backdrop"></div>
                  <!-- End Mobile Menu -->
              </div>
          </div>
      </div>
  </div>
</header>
<!-- header-area-end -->
