@use "../../utils" as *;
/*==============================================
14. Team
================================================*/
.best-team-images {
	position: relative;
	margin-right: 30px;
	text-align: right;
	@media #{$max-md} {
		max-width: 600px;
		margin: 0 auto 40px;
	}
	@media #{$max-sm} {
		margin: 0 auto 25px;
	}
	img {
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
	}
	.main-img {
		max-width: 471px;
		@media #{$max-lg} {
			width: 100%;
		}
	}
	.second-img {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		max-width: 277px;
		@media #{$max-lg} {
			max-width: 50%;
		}
	}
	.overlay-content {
		position: absolute;
		left: 11%;
		bottom: 15%;
		background: var(--bd-theme-primary);
		margin-bottom: 0;
		width: 203px;
		height: 203px;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		text-transform: uppercase;
		color: var(--bd-common-white);
		font-size: 20px;
		line-height: 1.5;
		padding: 20px;
		font-weight: 700;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		@media #{max-lg} {
			left: 11%;
		}
		@media #{$xs,$sm} {
			left: 0;
			width: 150px;
			height: 150px;
			font-size: 14px;
		}
	}
}
.team-item {
	margin-bottom: 40px;
	&:hover{
		.team-thumb{
			img{
				transform: scale(1.05);
			}
		}
	}
}
.team-thumb {
	margin-bottom: 22px;
	overflow: hidden;
	img {
		width: 100%;
		@media #{$max-lg} {
			width: 100%;
		}
	}
}
.team-content {
	.title {
		line-height: 1.1;
		font-size: 22px;
		margin-bottom: 5px;
	}
	.designation {
		display: block;
		margin-bottom: 12px;
	}
	.team-social {
		display: flex;
		align-items: center;
		justify-content: center;
		li {
			margin: 0 10px;
			a {
				display: block;
				line-height: 1;
				color: #D0D5E1;
				&:hover {
					color: var(--bd-theme-primary);
				}
			}
		}
	}
}
.hiring-bg {
	position: relative;
	background-position: center;
	background-size: cover;
	padding: 65px 80px;
	z-index: 1;
	@media #{$max-sm} {
		padding: 50px 30px;
	}
	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: #0C1020;
		opacity: .65;
		z-index: -1;
	}
}
.team-hiring-content {
	padding-right: 50px;
	@media #{$sm,$xs}{
		padding-right: 0px;
	}
	.title {
		color: var(--bd-common-white);
		margin-bottom: 0;
		font-weight: 400;
		font-size: 50px;
		line-height: 1.2;
		@media #{$lg,$md}{
			font-size: 40px;
		}
		@media #{$lg,$md}{
			margin-bottom: 30px;
		}
		@media #{$max-sm} {
			font-size: 38px;
			margin-bottom: 30px;
		}
		@media #{$xs}{
			font-size: 25px;
		}
	}
}
.hiring-btn {
	.transparent-btn {
		color: var(--bd-common-white);
		border-color: var(--bd-common-white);
		&:hover {
			border-color: var(--bd-theme-primary);
		}
	}
}
.best-team-area {
	.experience-content {
		& > p {
			@media #{$max-md} {
				margin-bottom: 35px;
			}
		}
	}
}
